{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'accounts:search' %}">Search</a>
<h1>Welcome <a href="{% url 'profiles:profile_detail' username=user.username %}">{{ user.username }}</a></h1>
<a href="{% url 'accounts:logout' %}">Logout</a>

<div class="max-w-5xl mx-auto md:px-8 lg:px-10">
    <!-- {{ feed | safe }} -->
    <div class="feed"></div>
    <div class="loading text-center py-4">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>
{% endif %}

{% endblock content %}

{% block javascript %}
<script>
    function loadFeed() {
        var page = 1;
        var pollingForData = false;
        var xhr = new XMLHttpRequest();
        var feedContainer = document.querySelector('.feed');
        var loadingContainer = document.querySelector('.loading');

        xhr.open('GET', '?page=' + page, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.send();

        function listenScroll() {
            var height = document.documentElement.offsetHeight;
            var offset = document.documentElement.scrollTop + window.innerHeight;

            if (!pollingForData && offset == height) {
                pollingForData = true;
                loadingContainer.classList.remove('hidden');

                page++;

                xhr.open('GET', '?page=' + page, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.send();
            }
        }

        xhr.onload = function () {
            if (xhr.status == 200) {
                pollingForData = false;
                loadingContainer.classList.add('hidden');

                var data = xhr.responseText;
                var dataObj = JSON.parse(data);

                feedContainer.innerHTML += dataObj.html;

                if (dataObj.html == '') {
                    document.removeEventListener('scroll', listenScroll);
                }
            }
        }

        document.addEventListener('scroll', listenScroll);
    }

    function likePhoto(e) {
        var photoId = e.target.parentElement.getAttribute('data-photo-id');
        var overlayLike = document.getElementById('overlay-like-' + photoId);
        var overlayLikeIcon = document.getElementById('overlay-like-icon-' + photoId);
        
        var xhr = new XMLHttpRequest();

        xhr.open('GET', '/photos/' + photoId + '/like', true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.send();

        xhr.onload = function () {
            if (xhr.status == 200) {
                var data = xhr.responseText;
                var dataObj = JSON.parse(data);

                overlayLike.classList.remove('hidden');
                overlayLikeIcon.classList.remove('hidden');
                setTimeout(function () {
                    overlayLike.classList.add('hidden');
                    overlayLikeIcon.classList.add('hidden');
                }, 1000);

                if (dataObj.result == 'create') {
                    e.target.classList.add('text-red-500');
                    e.target.classList.remove('far');
                    e.target.classList.add('fas');

                    overlayLikeIcon.classList.remove('text-white');
                    overlayLikeIcon.classList.add('text-red-500');
                } else if(dataObj.result == 'destroy') {
                    e.target.classList.remove('text-red-500');
                    e.target.classList.remove('fas');
                    e.target.classList.add('far');

                    overlayLikeIcon.classList.remove('text-red-500');
                    overlayLikeIcon.classList.add('text-white');
                }

                if (dataObj.likes) {
                    var likesCount = document.getElementById('likes-count-' + photoId);
                    likesCount.innerText = dataObj.likes;
                }
            }
        }
    }

    window.onload = function () {
        loadFeed();
    }
</script>
{% endblock javascript %}
