{% extends 'base.html' %}

{% block extra_head %}
<style>
    .photo-container {
        position: relative;
    }

    .photo-container:after {
        content: "";
        display: block;
        padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
    }

    .photo-container img {
        position: absolute; /* Take your picture out of the flow */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; /* Make the picture taking the size of it's parent */
        width: 100%; /* This if for the object-fit */
        height: 100%; /* This if for the object-fit */
        object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
        object-position: center;
    }
</style>
{% endblock extra_head %}

{% block header %}
<div class="bg-white border-b sticky top-0 w-full z-50">
    <div class="max-w-5xl mx-auto px-4 sm:px-8 lg:px-10 py-1 flex items-center justify-between">
        <a href="{{request.META.HTTP_REFERER}}" class="text-2xl text-gray-600 hover:text-gray-900">
            <i class="fas fa-chevron-left"></i>
        </a>
        <p class="font-semibold">{{ profile.user.username }}</p>
        {% if user == profile.user %}
            <a href="#" class="text-gray-600 hover:text-gray-900 text-2xl">
                <i class="fas fa-cog"></i>
            </a>
        {% else %}
        <p></p>
        {% endif %}
    </div>
</div>
{% endblock header %}

{% block content %}
    <div class="max-w-5xl mx-auto md:px-8 lg:px-10">
        <div class="px-4 sm:px-8 lg:px-20 py-6 border-b">
            <div class="flex items-start">
                <div class="mr-6 sm:mr-12 md:mr-24 lg:mr-32">
                    <img class="border rounded-full object-center object-cover w-20 h-20 md:w-36 md:h-36" src="{{ profile.photo.url }}" alt="">
                </div>
                <div>
                    <div class="flex items-center">
                        <h2 class="text-3xl w-32 sm:w-auto truncate" style="max-width: 15rem;">{{ profile.user.username }}</h2>
                        {% if user == profile.user %}
                            <a href="#" class="hidden md:inline ml-4 px-2 py-1 border rounded bg-white text-sm font-semibold">Edit Profile</a>
                            <a href="#" class="ml-4 text-3xl text-gray-600 hover:text-gray-900"><i class="fas fa-cog"></i></a>
                        {% else %}
                            {% if can_follow %}
                                {% if followed %}
                                    <a href="{% url 'accounts:unfollow' username=profile.user.username %}" class="hidden md:inline ml-4 px-6 py-1 text-white bg-blue-500 font-semibold text-sm rounded hover:bg-blue-600 focus:outline-none">Unfollow</a>
                                {% else %}
                                    <a href="{% url 'accounts:follow' username=profile.user.username %}" class="hidden md:inline ml-4 px-6 py-1 text-white bg-blue-500 font-semibold text-sm rounded hover:bg-blue-600 focus:outline-none">Follow</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="mt-4 md:hidden">
                        {% if user == profile.user %}
                            <a href="#" class="px-2 py-1 block w-full text-center border rounded bg-white text-sm font-semibold">Edit Profile</a>
                        {% else %}
                            {% if can_follow %}
                                {% if followed %}
                                    <a href="{% url 'accounts:unfollow' username=profile.user.username %}" class="px-6 py-1 block w-full text-center text-white bg-blue-500 font-semibold text-sm rounded hover:bg-blue-600 focus:outline-none">Unfollow</a>
                                {% else %}
                                    <a href="{% url 'accounts:follow' username=profile.user.username %}" class="px-6 py-1 block w-full text-center text-white bg-blue-500 font-semibold text-sm rounded hover:bg-blue-600 focus:outline-none">Follow</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="hidden mt-4 md:flex items-center">
                        <p class="mr-8"><span class="font-bold">{{ photos.count }}</span> posts</p>
                        <a href="{% url 'accounts:followers' username=profile.user.username %}" class="mr-8"><span class="font-bold">{{ profile.followers }}</span> followers</a>
                        <a href="{% url 'accounts:followings' username=profile.user.username %}"><span class="font-bold">{{ profile.followings }}</span> following</a>
                    </div>
                    {% if profile.full_name or profile.bio %}
                        <div class="mt-4 hidden md:block">
                            {% if profile.full_name %}
                                <h2 class="font-bold">{{ profile.full_name }}</h2>
                            {% endif %}
                            {% if profile.bio %}
                                <p>{{ profile.bio | linebreaks }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if profile.full_name or profile.bio %}
                <div class="mt-4 md:hidden">
                    {% if profile.full_name %}
                        <h2 class="font-bold">{{ profile.full_name }}</h2>
                    {% endif %}
                    {% if profile.bio %}
                        <p>{{ profile.bio | linebreaks }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="py-2 md:hidden flex items-center justify-between border-b">
            <div class="w-1/3 text-center leading-tight">
                <p class="font-bold">{{ photos.count }}</p>
                <p class="text-gray-600">posts</p>
            </div>
            <a href="{% url 'accounts:followers' username=profile.user.username %}" class="block w-1/3 text-center leading-tight">
                <p class="font-bold">{{ profile.followers }}</p>
                <p class="text-gray-600">followers</p>
            </a>
            <a href="{% url 'accounts:followings' username=profile.user.username %}" class="block w-1/3 text-center leading-tight">
                <p class="font-bold">{{ profile.followings }}</p>
                <p class="text-gray-600">following</p>
            </a>
        </div>

        <div class="mt-4 flex flex-wrap -mx-px overflow-hidden md:-mx-3">
            {% for photo in photos %}
                <div class="my-px px-px w-1/3 overflow-hidden md:my-3 md:px-3">
                    <div class="relative">
                        <figure class="{{ photo.image_filter }}">
                            <div class="photo-container">
                                <img src="{{ photo.image.url }}" alt="">
                            </div>
                        </figure>
                        <a href="{% url 'photos:photo_detail' pk=photo.pk %}" class="absolute group block flex items-center justify-center inset-0 w-full h-full font-bold focus:outline-none">
                            <div class="absolute inset-0 w-full h-full bg-black opacity-0 hover:opacity-50"></div>
                            <div class="z-10 text-white md:text-lg opacity-0 group-hover:opacity-100 hover:bg-black">
                                <span class="mr-4 md:mr-8"><i class="fas fa-heart"></i> {{ photo.likes.count }}</span>
                                <span><i class="fas fa-comment"></i> 12</span>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
