<div class="bg-white border-t fixed bottom-0 w-full">
    <div class="max-w-5xl mx-auto px-4 sm:px-8 lg:px-10 py-2 flex items-center justify-between">
        <a href="{% url 'core:index' %}" class="w-1/5 text-center mr-4 text-2xl text-gray-600 hover:text-gray-900">
            <i class="fas fa-home"></i>
        </a>
        <a href="{% url 'accounts:search' %}" class="w-1/5 text-center mr-4 text-gray-600 hover:text-gray-900 text-2xl">
            <i class="fas fa-search"></i>
        </a>
        <a href="#" class="w-1/5 text-center mr-4 text-gray-600 hover:text-gray-900 text-2xl">
            <i class="far fa-plus-square"></i>
        </a>
        <a href="#" class="w-1/5 text-center mr-4 text-gray-600 hover:text-gray-900 text-2xl">
            <i class="far fa-heart"></i>
        </a>
        <a href="{% url 'accounts:profile' username=user.username %}" class="w-1/5 text-center">
            <img
                {% if user.username in request.path %}
                    class="mx-auto w-8 h-8 rounded-full object-center object-cover p-px border border-gray-900"
                {% else %}
                    class="mx-auto w-8 h-8 rounded-full object-center object-cover"
                {% endif %} 
                src="{{ user.profile.photo.url }}" alt="">
        </a>
    </div>
</div>
