{% if user.is_authenticated %}
    <div class="bg-white border-t sticky bottom-0 w-full">
        <div class="max-w-5xl mx-auto px-4 sm:px-8 lg:px-10 py-1 flex items-center justify-between">
            <a href="{% url 'core:index' %}" class="w-1/5 text-center text-2xl text-gray-600 hover:text-gray-900">
                <i class="fas fa-home"></i>
            </a>
            <a href="{% url 'accounts:search' %}" class="w-1/5 text-center text-gray-600 hover:text-gray-900 text-2xl">
                <i class="fas fa-search"></i>
            </a>
            <form id="create-style-form" class="w-1/5 text-center" action="{% url 'photos:add' %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_image" class="text-gray-600 hover:text-gray-900 text-2xl">
                        <i class="far fa-plus-square"></i>
                </label>
                <input class="hidden" type="file" id="id_image" name="image" accept="image/*" required>
            </form>
            <a href="#" class="w-1/5 text-center text-gray-600 hover:text-gray-900 text-2xl">
                <i class="far fa-heart"></i>
            </a>
            <a href="{% url 'profiles:profile_detail' username=user.username %}" class="w-1/5 text-center">
                <img
                    {% if user.username in request.path %}
                        class="mx-auto w-6 h-6 rounded-full object-center object-cover p-px border border-gray-900"
                    {% else %}
                        class="mx-auto w-6 h-6 rounded-full object-center object-cover"
                    {% endif %} 
                    src="{{ user.profile.photo.url }}" alt="">
            </a>
        </div>
    </div>
{% endif %}

<script>
    const createForm = document.getElementById('create-style-form');
    const imageSelectInput = document.getElementById('id_image');

    imageSelectInput.addEventListener('change', function (event) {
        createForm.submit();
    });
</script>
