{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <input type="text" name="search" placeholder="Search by username">
        <input type="submit" value="Search">
    </form>
    <div>
        {% for account in accounts %}
            <div>
                <div>
                    <a href="{% url 'profiles:profile_detail' username=account.username %}">@{{ account.username }}</a>
                </div>
                <div>
                    {% if account.profile.full_name %}
                        <a href="{% url 'profiles:profile_detail' username=account.username %}">
                            {{ account.profile.full_name }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock content %}
