{% extends 'base.html' %}

{% block content %}
  
{% load form_utils %}
<form name="signupForm" action="{% url 'accounts:signup' %}" method="post" class="max-w-xs mx-auto my-4 border bg-white rounded-lg p-8 shadow-md">
  {% csrf_token %}
  <h1 class="mb-2 text-lg text-gray-600 font-bold text-center leading-tight">Sign up to see photos and videos from your friends.</h1>
  {% for field in form %}
    <p id="{{ field.name }}">
      {# <h4 class="mb-2 text-xl font-semibold">{{ field.label_tag }}</h4> #}
      {{ field | placeholder:field.label | addclass:'mt-2 px-2 py-1 bg-gray-100 border rounded w-full focus:outline-none focus:shadow-outline'}}
      {% for error in field.errors %}
        <p class="text-red-600 text-sm form-error">{{ error }}</p>
        <script type="text/javascript">
          document.signupForm.{{field.name}}.classList.remove('border')
          document.signupForm.{{field.name}}.classList.add('border-red-500', 'border-2');
        </script>
      {% endfor %}
      {% if field.help_text %}
        <small class="text-gray-600">{{ field.help_text }}</small>
      {% endif %}
    </p>
  {% endfor %}
  <button type="submit" class="mt-4 py-1 w-full bg-blue-500 text-white font-bold text-center rounded focus:outline-none focus:shadow-outline">Sign up</button>
  <p class="mt-4 text-sm text-center text-gray-600 leading-tight">
    By signing up, you agree to our
    <span class="font-bold">Terms, Data Policy</span> and
    <span class="font-bold">Cookies Policy.</span>
  </p>
</form>
{% endblock content %}
