{% extends 'base.html' %}

{% block content %}
    <h1>Followers</h1>
    {% for follow in follows %}
        <div class="user">
            <p>
                <a href="{% url 'accounts:profile' username=follow.follower.username %}">@{{ follow.follower.username }}</a>
                {% if follow.follower != user %}
                    {% if follow.follower not in user_followings %}
                        <a href="{% url 'accounts:follow' username=follow.follower.username %}">Follow</a>
                    {% else %}
                        <a href="{% url 'accounts:unfollow' username=follow.follower.username %}">Unfollow</a>
                    {% endif %}
                {% endif %}
            </p>
            {% if follow.follower.profile.full_name %}
                <a href="{% url 'accounts:profile' username=follow.follower.username %}">
                    {{ follow.follower.profile.full_name }}
                </a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock content %}
