{% extends 'base.html' %}

{% block content %}
    <h2>
        @{{ profile }} 
        {% if can_follow %}
            {% if followed %}
                <a href="{% url 'accounts:unfollow' username=profile.user.username %}">Unfollow</a>
            {% else %}
                <a href="{% url 'accounts:follow' username=profile.user.username %}">Follow</a>
            {% endif %}
        {% endif %}
    </h2>
    <h4>
        {% if profile.user.first_name %}
            {{ profile.user.first_name }}
        {% endif %}
        {% if profile.user.last_name %}
            {{ profile.user.last_name }}
        {% endif %}
    </h4>
    {% if profile.bio %}
        <p>{{ profile.bio }}</p>
    {% endif %}
    <a href="{% url 'accounts:followers' username=profile.user.username %}">Followers: {{ profile.followers }}</a>
    <a href="{% url 'accounts:followings' username=profile.user.username %}">Followings: {{ profile.followings }}</a>
{% endblock content %}
