<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faketagram</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssgram.min.css' %}">
</head>
<body class="antialiased bg-gray-50 text-gray-900">
    {% block header %}
        {% comment %} {% include 'partials/_navbar.html' %} {% endcomment %}
        {% include 'partials/_top_bar.html' %}
    {% endblock header %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% block bottom_bar %}
        {% include 'partials/_bottom_bar.html' %}
    {% endblock bottom_bar %}

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
